# action that runs monthly and add runtime as a custom property
# to all repositories in this organization
name: Add Runtime as Custom Property to Repositories
on:
  schedule:
    - cron: '0 0 22 * *'
  workflow_dispatch:
permissions: {}

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          repository: ${{ secrets.RUNTIME_REPOSITORY }}
          token: ${{ secrets.RUNTIME_REPO_READ_TOKEN }}
      - uses: brave/security-action/actions/add-runtime-custom-property@main
        with:
          github_token: ${{ secrets.CUSTOM_PROPERTY_MANAGER_GITHUB_TOKEN }}
          static_repositories: ${{ secrets.STATIC_WEBSITE_REPOSITORIES }}
          runtime_directory: ${{ github.workspace }}
